<div class="container-fluid p-2">
    <button type="button" class="btn btn-primary m-2" (click)="mostrarModalIngreso()">NUEVO REMITO DE INGRESO</button>
    <button type="button" class="btn btn-primary m-2">NUEVA DEVOLUCION DE MERCADERIA</button>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">TIPO</th>
                    <th scope="col">NUMERO</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">CLIENTE</th>
                    <th scope="col">CUIT</th>
                    <th scope="col">AUTORIZADO</th>
                    <th scope="col">TRANSPORTE</th>
                    <th scope="col">EST/ORIGEN</th>
                    <th scope="col">OBSERVACIONES</th>
                </tr>
            </thead>
            <tbody>
                @for (ingreso of ingresos; track $index) {
                <tr (dblclick)="mostrarModalIngreso(ingreso.id)">
                    <th scope="row">INGRESO</th>
                    <th scope="row">{{mostrarDocumento(ingreso.punto, ingreso.numero)}}</th>
                    <td>{{ingreso.fecha}}</td>
                    <td>{{ingreso.alias}}</td>
                    <td>{{ingreso.cuit}}</td>
                    <td>{{ingreso.autorizado_descripcion}}</td>
                    <td>{{ingreso.transporte_transporte}}</td>
                    <td>{{ingreso.establecimiento_descripcion}}</td>
                    <td>{{ingreso.observaciones_sistema}}</td>
                    <td><button type="button" class="btn btn-sm btn-primary m-0 mx-1 p-0 px-1"
                            (click)="mostrarModalIngreso(ingreso.id)"><i class="pi pi-bars"></i></button>
                        <button type="button" class="btn btn-sm btn-primary m-0 mx-1 p-0 px-1"
                            (click)="verRemito(ingreso.id)"><i class="pi pi-file-pdf"></i></button>
                        <button type="button" class="btn btn-sm btn-primary m-0 mx-1 p-0 px-1"
                            (click)="descargarRemito(ingreso.id)"><i class="pi pi-download"></i></button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<p-dialog header="{{ingreso.id ? 'Ver ingreso' : 'NUEVO INGRESO DE MERCADERIA'}}" [modal]="true"
    [(visible)]="visible_ingreso" [style]="{ width: '85rem'}" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="true" [closeOnEscape]="false">

    <!-- HEADERS -->
    <div class="row py-2" style="background-color: rgba(176, 245, 187, 0.555); border-radius: 6px;">
        <div class="col-6 col-md-3 mb-2 mb-md-0">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Modelo</span>
                <select class="input-group-text" [(ngModel)]="ingreso.modelo">
                    @for (modRem of modelosRemitos; track $index) {
                    <option value={{modRem.alias}}>{{modRem.descripcion}}</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-2 mb-md-0">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1" style="width: 50%;">P. Venta</span>
                <select class="input-group-text" [(ngModel)]="ingreso.punto" style="width: 50%;">
                    @for (ptoVta of puntosVenta; track $index) {
                    <option value={{ptoVta.punto}}>{{ptoVta.descripcion}}</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">N°</span>
                <input type="number" class="form-control" placeholder="Numero" aria-label="Numero"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.numero" disabled="">
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">FECHA</span>
                <input type="date" class="form-control" placeholder="FECHA" aria-label="FECHA"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.fecha">
            </div>
        </div>
    </div>

    <!-- PESTAÑAS -->
    <ul class="nav nav-tabs my-2">
        <li class="nav-item">
            <a class="nav-link p-1 px-3 {{pestActiva == 'cliente' ? 'active' : ''}}" href=""
                (click)="pestana('cliente', $event)">CLIENTE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-1 px-3 {{pestActiva == 'documentos' ? 'active' : ''}}" href=""
                (click)="pestana('documentos', $event)">DOCUMENTOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-1 px-3 {{pestActiva == 'observaciones' ? 'active' : ''}}" href=""
                (click)="pestana('observaciones', $event)">OBSERVACIONES</a>
        </li>
    </ul>


    @if(pestActiva == 'cliente'){
    <div style="min-height: 180px;">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1" style="width: 15%;">Cód.</span>
                    @if(!ingreso.id_cliente){
                    <input type="text" class="form-control" placeholder="Código" aria-label="Código"
                        aria-describedby="basic-addon1" [(ngModel)]="ingreso.codigo"
                        (keyup.enter)="buscarClientePorCodigo()">
                    } @else {
                    <span class="input-group-text" id="basic-addon1" style="width: 84%;">{{ingreso.codigo}}</span>
                    }
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Razon Social</span>
                    <input type="text" class="form-control" placeholder="Razon Social" aria-label="Razon Social"
                        aria-describedby="basic-addon1" [(ngModel)]="ingreso.razon_social" readonly>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <p-divider align="center" type="solid" class="m-0 p-0" [style]="{'margin': '0px'}"
                    (click)="buscarAutorizados(true)">
                    <b>Autorizado</b>
                </p-divider>
                <div class="input-group m-1 p-0">
                    <span class="input-group-text m-0 p-0 px-2" id="basic-addon1">Desc.</span>
                    <input type="text" class="form-control m-0 p-0 px-3" placeholder="Descripcion"
                        aria-label="Descripcion" aria-describedby="basic-addon1"
                        [(ngModel)]="ingreso.autorizado_descripcion" disabled>
                </div>
                <div class="input-group m-1 p-0">
                    <span class="input-group-text m-0 p-0 px-2" id="basic-addon1">N° Doc</span>
                    <input type="text" class="form-control m-0 p-0 px-3" placeholder="Documento" aria-label="Documento"
                        aria-describedby="basic-addon1" [(ngModel)]="ingreso.autorizado_documento" disabled>
                </div>
                <div class="input-group m-1 p-0">
                    <span class="input-group-text m-0 p-0 px-2" id="basic-addon1">Contacto</span>
                    <input type="text" class="form-control m-0 p-0 px-3" placeholder="Contacto" aria-label="Contacto"
                        aria-describedby="basic-addon1" [(ngModel)]="ingreso.autorizado_contacto" disabled>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <p-divider align="center" type="solid" class="m-0 p-0" [style]="{'margin': '0px'}"
                    (click)="buscarTransportes(true)">
                    <b>Transporte</b>
                </p-divider>
                <div class="input-group m-1 p-0">
                    <span class="input-group-text m-0 p-0 px-2" id="basic-addon1">Transp</span>
                    <input type="text" class="form-control m-0 p-0 px-3" placeholder="Transporte"
                        aria-label="Transporte" aria-describedby="basic-addon1"
                        [(ngModel)]="ingreso.transporte_transporte" disabled>
                </div>
                <div class="input-group m-1 p-0">
                    <span class="input-group-text m-0 p-0 px-2" id="basic-addon1">Chofer</span>
                    <input type="text" class="form-control m-0 p-0 px-3" placeholder="Chofer" aria-label="Chofer"
                        aria-describedby="basic-addon1" [(ngModel)]="ingreso.transporte_chofer" disabled>
                </div>
                <div class="input-group m-1 p-0">
                    <span class="input-group-text m-0 p-0 px-2" id="basic-addon1">Patentes</span>
                    <input type="text" class="form-control m-0 p-0 px-3" placeholder="Chasis" aria-label="Chasis"
                        aria-describedby="basic-addon1" [(ngModel)]="ingreso.transporte_patente_chasis" disabled>
                    <input type="text" class="form-control m-0 p-0 px-3" placeholder="Acoplado" aria-label="Acoplado"
                        aria-describedby="basic-addon1" [(ngModel)]="ingreso.transporte_patente_acoplado" disabled>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <p-divider align="center" type="solid" class="m-0 p-0" [style]="{'margin': '0px'}"
                    (click)="buscarEstablecimientos(true)">
                    <b>Origen</b>
                </p-divider>
                <div class="input-group m-1 p-0">
                    <span class="input-group-text m-0 p-0 px-2" id="basic-addon1">Desc.</span>
                    <input type="text" class="form-control m-0 p-0 px-3" placeholder="Descripcion"
                        aria-label="Descripcion" aria-describedby="basic-addon1"
                        [(ngModel)]="ingreso.establecimiento_descripcion" disabled>
                </div>
                <div class="input-group m-1 p-0">
                    <span class="input-group-text m-0 p-0 px-2" id="basic-addon1">Loc.</span>
                    <input type="text" class="form-control m-0 p-0 px-3" placeholder="Localidad" aria-label="Localidad"
                        aria-describedby="basic-addon1" [(ngModel)]="ingreso.establecimiento_localidad" disabled>
                </div>
                <div class="input-group m-1 p-0">
                    <span class="input-group-text m-0 p-0 px-2" id="basic-addon1">Prov.</span>
                    <input type="text" class="form-control m-0 p-0 px-3" placeholder="Provincia" aria-label="Provincia"
                        aria-describedby="basic-addon1" [(ngModel)]="ingreso.establecimiento_provincia" disabled>
                </div>
            </div>
        </div>
    </div>
    }

    @if(pestActiva == 'documentos'){
    <div style="min-height: 180px;">
        @for (doc of ingreso.datos.documentos; track $index) {
        <div class="row mb-2">
            <div class="col-3">
                <div class="input-group">
                    <select class="input-group-text" [(ngModel)]="doc.tipo">
                        <option value=remito>REMITO</option>
                        <option value=factura>FACTURA</option>
                        <option value=ticket_balanza>TICKET BALANZA</option>
                        <option value=otros>OTROS</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <select class="input-group-text" [(ngModel)]="doc.letra">
                        <option value=A>A</option>
                        <option value=B>B</option>
                        <option value=C>C</option>
                        <option value=R>R</option>
                        <option value=X>X</option>
                    </select>

                    <input type="number" class="form-control m-0 p-0 px-3" placeholder="Punto" aria-label="Punto"
                        aria-describedby="basic-addon1" [(ngModel)]="doc.punto">

                    <input type="number" class="form-control m-0 p-0 px-3" placeholder="Numero" aria-label="Numero"
                        aria-describedby="basic-addon1" [(ngModel)]="doc.numero">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">FECHA</span>
                    <input type="date" class="form-control" placeholder="FECHA" aria-label="FECHA"
                        aria-describedby="basic-addon1" [(ngModel)]="doc.fecha">
                </div>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-warning p-1 mx-3"
                    (click)="eliminarDocumento(doc.id)">ELIMINAR</button>
            </div>
        </div>
        }
        <button type="button" class="btn btn-warning px-3" (click)="agregarDocumento()">Agregar</button>
    </div>
    }

    @if(pestActiva == 'observaciones'){
    <div style="min-height: 180px;">
        <div class="row">
            <div class="col-12 col-md-6">
                <p-divider align="left" type="solid" [style]="{'margin': '0px'}">Observaciones / Sale en
                    Remito</p-divider>

                <textarea rows="5" pInputTextarea style="width: 100%;" [(ngModel)]="ingreso.observaciones">
                </textarea>
            </div>
            <div class="col-12 col-md-6">
                <p-divider align="left" type="solid" [style]="{'margin': '0px'}">Observaciones / Para
                    sistema</p-divider>

                <textarea rows="5" pInputTextarea style="width: 100%;" [(ngModel)]="ingreso.observaciones_sistema">
                </textarea>
            </div>
        </div>
    </div>
    }

    <p-divider align="left" type="solid" class="m-0 p-0" [style]="{'margin': '20px 0px'}">
        <b>Artículos a ingresar</b>
    </p-divider>

    <!-- TABLA ARTICULOS -->
    <div class="table-responsive" style="max-height: 400px;">
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Cód</th>
                    <th scope="col" class="text-center">Descripción</th>
                    <th scope="col" class="text-center">Cant.</th>
                    <th scope="col" class="text-center">U.M.</th>
                    <th scope="col" class="text-center" style="color: rgb(175, 28, 28);">Cant</th>
                    <th scope="col" class="text-center" style="color: rgb(175, 28, 28);">U.F.</th>
                    <th scope="col" class="text-center">Deposito</th>
                    <th scope="col" class="text-center">Lote</th>
                    <th scope="col" class="text-center">Vencimiento</th>
                    <th scope="col" class="text-center">#</th>
                </tr>
            </thead>
            <tbody>
                @for (art of articulosIngreso; track $index) {
                <tr>
                    <th scope="row" class="p-0 text-end align-middle" style="font-size: small; color: rgb(88, 88, 88);">
                        {{$index + 1}})</th>
                    <th scope="row" class="p-0" style="min-width: 100px;"><input class="input_tabla" type="text"
                            [(ngModel)]="art.codigo" (keyup.enter)="buscarArticuloPorCodigo(art)"
                            [readOnly]="art.id_articulo"></th>
                    <td class="text-nowrap p-0" style="min-width: 500px;">{{art.descripcion ? art.descripcion : '-'}}
                    </td>
                    <td class="text-nowrap p-0" style="min-width: 80px;"><input class="input_tabla" type="number"
                            [(ngModel)]="art.cantidad" (keyup)="calcularUnidadFundamental(art)"></td>
                    <td class="text-nowrap p-0 text-center" style="min-width: 90px;">{{art.id_unidadMedida ?
                        obtenerDescripcionUnidadMedida(art.id_unidadMedida) : '-'}}</td>
                    <td class="text-nowrap p-0" style="min-width: 80px;"><input class="input_tabla" type="number"
                            [(ngModel)]="art.cantidadUnidadFundamental"></td>
                    <td class="text-nowrap p-0 text-center" style="min-width: 90px;">{{art.unidadFundamental ?
                        art.unidadFundamental : '-'}}</td>
                    <td class="text-nowrap p-0">
                        <select class="input_tabla p-1" [(ngModel)]="art.id_deposito">
                            @for (dep of depositos; track $index) {
                            <option value={{dep.id}}>{{dep.alias}}</option>
                            }
                        </select>
                    </td>
                    <td class="text-nowrap p-0" style="min-width: 80px;">
                        @if (art.solicitaLote) {
                        <input class="input_tabla" type="text" [(ngModel)]="art.lote">
                        }
                    </td>
                    <td class="text-nowrap p-0" style="min-width: 80px;">
                        @if (art.solicitaVencimiento) {
                        <input class="input_tabla" type="date" [(ngModel)]="art.vencimiento">
                        }
                    </td>
                    <td class="text-nowrap p-0">
                        @if(art.id_articulo){
                        <button type="button" class="btn btn-sm btn-danger m-0 mx-1 p-0 px-1"
                            (click)="eliminarArticulo(art.id)"><i class="pi pi-trash"></i></button>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <button type="button" class="btn btn-success m-2 p-0 px-5" (click)="agregarArticulos()">Agregar nuevo</button>
        @if (permite_secuencia_lote) {
        AGREGAR
        <input type="number" step="1" class="input_tabla" [(ngModel)]="cantidad_secuencia_lote" style="width: 60px;">
        ARTICULOS TOMANDO LOS ULTIMOS
        <input type="number" step="1" class="input_tabla" [(ngModel)]="digitos_secuencia_lote" style="width: 60px;">
        DIGITOS DEL LOTE.
        <button type="button" class="btn btn-primary m-2 p-0 px-2" (click)="agregarArticulosSecuencia()">Agregar
            {{cantidad_secuencia_lote}}</button>
        }
    </div>

    <div class="row">
        <div class="col text-end">
            <button type="button" class="btn btn-warning m-2" (click)="verTotalesArticulosIngreso()">VER
                TOTALES</button>
            <button type="button" class="btn btn-warning m-2" (click)="visible_ingreso = false">CERRAR</button>
            @if (!ingreso.id) {
            <button type="button" class="btn btn-success m-2" (click)="guardarIngreso()">GUARDAR Y MOSTRAR</button>
            <button type="button" class="btn btn-success m-2" (click)="guardarIngreso()">GUARDAR Y DESCARGAR</button>
            <button type="button" class="btn btn-success m-2" (click)="guardarIngreso()">GUARDAR</button>
            }

        </div>
    </div>
</p-dialog>



<p-dialog header="SELECCIONAR CLIENTE" [modal]="true" [(visible)]="visible_cliente" [style]="{ width: '50rem'}"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

    <div class="row py-2">
        <div class="card m-1 p-2 shadow">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar..."
                [(ngModel)]="searchValue_cliente" (keyup)="filtroCliente()"
                [ngStyle]="{'background-color':searchValue_cliente == '' ? '' : 'rgb(202, 253, 202)'}">

            <div class="listbox-container" id="listbox">
                @for (client of clientesFiltrados; track $index) {
                <div class="listbox-item" (click)="asignarCliente(client)"><strong>{{client.alias}}</strong> - CUIT
                    {{client.cuit}} ({{client.razon_social}})</div>
                }
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog header="SELECCIONAR AUTORIZADO" [modal]="true" [(visible)]="visible_autorizado" [style]="{ width: '30rem'}"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

    <div class="row py-2">
        <div class="card m-1 p-2 shadow">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar..."
                [(ngModel)]="searchValue_autorizado" (keyup)="filtroAutorizado()"
                [ngStyle]="{'background-color':searchValue_autorizado == '' ? '' : 'rgb(202, 253, 202)'}">

            <div class="listbox-container" id="listbox">
                @for (autorizado of autorizadosFiltrados; track $index) {
                <div class="listbox-item" (click)="asignarAutorizado(autorizado)">
                    <strong>{{autorizado.descripcion}}</strong> - DOC {{autorizado.documento}}
                </div>
                }
                <div class="listbox-item" (click)="asignarAutorizado(undefined)"><strong>NINGUNO</strong></div>
            </div>
        </div>

        @if (autorizado.id) {
        <div class="card shadow p-2 py-4 my-3">
            <div class="row">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">NOMBRE/APELLIDO</span>
                        <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
                            aria-describedby="basic-addon1" [(ngModel)]="autorizado.descripcion">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">DNI</span>
                        <input type="text" class="form-control" placeholder="N° Documento" aria-label="N° Documento"
                            aria-describedby="basic-addon1" [(ngModel)]="autorizado.documento">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">CARGO</span>
                        <input type="text" class="form-control" placeholder="Cargo en la empresa"
                            aria-label="Cargo en la empresa" aria-describedby="basic-addon1"
                            [(ngModel)]="autorizado.cargo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">CONTACTO</span>
                        <input type="text" class="form-control" placeholder="Teléfono/Correo"
                            aria-label="Teléfono/Correo" aria-describedby="basic-addon1"
                            [(ngModel)]="autorizado.contacto">
                    </div>
                </div>
                <div class="col-12 col-md-4 text-end">
                    <button type="button" class="btn btn-sm btn-warning py-2 me-2"
                        (click)="guardarAutorizado()">GUARDAR</button>
                </div>
            </div>
        </div>
        } @else {
        <button type="button" class="btn btn-sm btn-success m-2 my-5" (click)="agregarAutorizado()">AGREGAR
            AUTORIZADO</button>
        }
    </div>
</p-dialog>

<p-dialog header="SELECCIONAR TRANSPORTE" [modal]="true" [(visible)]="visible_transporte" [style]="{ width: '30rem'}"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

    <div class="row py-2">
        <div class="card m-1 p-2 shadow">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar..."
                [(ngModel)]="searchValue_transporte" (keyup)="filtroTransporte()"
                [ngStyle]="{'background-color':searchValue_transporte == '' ? '' : 'rgb(202, 253, 202)'}">

            <div class="listbox-container" id="listbox">
                @for (transp of transportesFiltrados; track $index) {
                <div class="listbox-item" (click)="asignarTransporte(transp)">T: {{transp.transporte}} - C:
                    {{transp.chofer}} - P: {{transp.patente_chasis}} / {{transp.patente_acoplado}}</div>
                }
                <div class="listbox-item" (click)="asignarTransporte(undefined)"><strong>NINGUNO</strong></div>
            </div>
        </div>

        @if (transporte.id) {
        <div class="card shadow p-2 py-4 my-3">
            <div class="row mb-4 mb-md-0">
                <div class="col-12 col-md-8">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">TRANSPORTE</span>
                        <input type="text" class="form-control" placeholder="Razon Social" aria-label="Razon Social"
                            aria-describedby="basic-addon1" [(ngModel)]="transporte.transporte">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">CUIT</span>
                        <input type="text" class="form-control" placeholder="CUIT Transportista"
                            aria-label="CUIT Transportista" aria-describedby="basic-addon1"
                            [(ngModel)]="transporte.cuit_transporte">
                    </div>
                </div>
            </div>
            <div class="row mb-4 mb-md-0">
                <div class="col-12 col-md-8">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">CHOFER</span>
                        <input type="text" class="form-control" placeholder="Razon Social" aria-label="Razon Social"
                            aria-describedby="basic-addon1" [(ngModel)]="transporte.chofer">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">CUIT</span>
                        <input type="text" class="form-control" placeholder="CUIT Chofer" aria-label="CUIT Chofer"
                            aria-describedby="basic-addon1" [(ngModel)]="transporte.cuit_chofer">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">PAT CH.</span>
                        <input type="text" class="form-control" placeholder="Patente chasis" aria-label="Patente chasis"
                            aria-describedby="basic-addon1" [(ngModel)]="transporte.patente_chasis">
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">PAT AC.</span>
                        <input type="text" class="form-control" placeholder="Patente acoplado"
                            aria-label="Patente acoplado" aria-describedby="basic-addon1"
                            [(ngModel)]="transporte.patente_acoplado">
                    </div>
                </div>
                <div class="col-12 col-md-4 text-end">
                    <button type="button" class="btn btn-sm btn-warning py-2 me-2"
                        (click)="guardarTransporte()">GUARDAR</button>
                </div>
            </div>
        </div>
        } @else {
        <button type="button" class="btn btn-sm btn-success m-2 my-5" (click)="agregarTransporte()">AGREGAR
            TRANSPORTE</button>
        }
    </div>
</p-dialog>

<p-dialog header="SELECCIONAR ESTABLECIMIENTO/ORIGEN" [modal]="true" [(visible)]="visible_establecimiento"
    [style]="{ width: '30rem'}" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

    <div class="row py-2">
        <div class="card m-1 p-2 shadow">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar..."
                [(ngModel)]="searchValue_establecimiento" (keyup)="filtroEstablecimiento()"
                [ngStyle]="{'background-color':searchValue_establecimiento == '' ? '' : 'rgb(202, 253, 202)'}">

            <div class="listbox-container" id="listbox">
                @for (est of establecimientosFiltrados; track $index) {
                <div class="listbox-item" (click)="asignarEstablecimiento(est)">{{est.descripcion}}</div>
                }
                <div class="listbox-item" (click)="asignarEstablecimiento(undefined)"><strong>NINGUNO</strong></div>
            </div>
        </div>

        @if (establecimiento.id) {
        <div class="card shadow p-2 py-4 my-3">
            <div class="row">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">DESCRIPCION</span>
                        <input type="text" class="form-control" placeholder="Descripcion" aria-label="Descripcion"
                            aria-describedby="basic-addon1" [(ngModel)]="establecimiento.descripcion">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">LOCALIDAD</span>
                        <input type="text" class="form-control" placeholder="Localidad" aria-label="Localidad"
                            aria-describedby="basic-addon1" [(ngModel)]="establecimiento.localidad">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">PROVINCIA</span>
                        <input type="text" class="form-control" placeholder="Provincia" aria-label="Provincia"
                            aria-describedby="basic-addon1" [(ngModel)]="establecimiento.provincia">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-end">
                    <button type="button" class="btn btn-sm btn-warning py-2 me-2"
                        (click)="guardarEstablecimiento()">GUARDAR</button>
                </div>
            </div>
        </div>
        } @else {
        <button type="button" class="btn btn-sm btn-success m-2 my-5" (click)="agregarEstablecimiento()">AGREGAR
            ESTABLECIMIENTO</button>
        }
    </div>
</p-dialog>

<p-dialog header="SELECCIONAR ARTICULO" [modal]="true" [(visible)]="visible_articulo" [style]="{ width: '30rem'}"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

    <div class="row py-2">
        <div class="card m-1 p-2 shadow">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar..."
                [(ngModel)]="searchValue_articulo" (keyup)="filtroArticulo()"
                [ngStyle]="{'background-color':searchValue_articulo == '' ? '' : 'rgb(202, 253, 202)'}">

            <div class="listbox-container" id="listbox">
                @for (est of articulosFiltrados; track $index) {
                <div class="listbox-item" (click)="asignarArticulo(articuloProvisorio!, est)">{{est.descripcion}}</div>
                }
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog header="TOTALES" [modal]="true" [(visible)]="visible_totales" [style]="{ width: '70rem'}"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

    <div class="row py-2">
        @for (rub of datosTotales; track $index) {
        <div class="card m-2 p-2 shadow">
            <h4>RUBRO: {{rub.rubro}}</h4>
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Sub Rubro / Articulo</th>
                        <th>Cantidad</th>
                        <th>U.M.</th>
                        <th class="table-light">~ KILOS</th>
                        <th class="table-light">~ LITROS</th>
                        <th class="table-light">~ UN.</th>
                    </tr>
                </thead>
                <tbody>
                    @for (subRub of rub.datos; track $index) {
                    <tr class="table-secondary">
                        <td>{{subRub.subRubro}}</td>
                        <td class="text-end">{{mostrarNumero(subRub.totales)}}</td>
                        <td></td>
                        <td class="text-end">{{mostrarNumero(subRub.kilos)}}</td>
                        <td class="text-end">{{mostrarNumero(subRub.litros)}}</td>
                        <td class="text-end">{{mostrarNumero(subRub.unidades)}}</td>
                    </tr>
                    @for (art of subRub.datos; track $index) {
                    <tr>
                        <td style="padding-left: 50px;">{{art.descripcion}}</td>
                        <td class="text-end">{{mostrarNumero(art.cantidad)}}</td>
                        <td>{{art.unidadMedida}}</td>
                        <td class="text-end">{{mostrarNumero(art.kilos)}}</td>
                        <td class="text-end">{{mostrarNumero(art.litros)}}</td>
                        <td class="text-end">{{mostrarNumero(art.unidades)}}</td>
                    </tr>
                    }
                    }
                </tbody>
                <tfoot>
                    <tr class="table-secondary">
                        <td><strong>TOTALES</strong></td>
                        <td class="text-end"><strong>{{mostrarNumero(rub.totales)}}</strong></td>
                        <td></td>
                        <td class="text-end"><strong>{{mostrarNumero(rub.kilos)}}</strong></td>
                        <td class="text-end"><strong>{{mostrarNumero(rub.litros)}}</strong></td>
                        <td class="text-end"><strong>{{mostrarNumero(rub.unidades)}}</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        }
    </div>
</p-dialog>