<div class="container-fluid p-2">
    <button type="button" class="btn btn-primary m-2" (click)="mostrarModalIngreso()">NUEVO REMITO DE INGRESO</button>
    <button type="button" class="btn btn-primary m-2">NUEVA DEVOLUCION DE
        MERCADERIA</button>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>MarkMarkMarkMarkMarkMarkMark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>Otto</td>
                    <td>mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<p-dialog header="{{ingreso.id ? 'Ver ingreso' : 'Nuevo ingreso'}}" [modal]="true" [(visible)]="visible_ingreso"
    [style]="{ width: '70rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">

    <div class="row">
        <div class="col-6 col-md-3">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1" style="width: 50%;">P. Venta</span>
                <select class="input-group-text" [(ngModel)]="ingreso.punto" style="width: 50%;">
                    <option value=1>1</option>
                    <option value=2>2</option>
                </select>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">N</span>
                <input type="number" class="form-control" placeholder="Numero" aria-label="Numero"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.numero" disabled="">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">FECHA</span>
                <input type="date" class="form-control" placeholder="FECHA" aria-label="FECHA"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.fecha">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4">
            <p-divider align="center" type="solid" class="m-0 p-0" [style]="{'margin': '0px'}">
                <b>Autorizado</b>
            </p-divider>
            <div class="input-group m-1 p-0">
                <span class="input-group-text m-0 p-0 px-2" id="basic-addon1">ALIAS</span>
                <input type="text" class="form-control m-0 p-0 px-3" placeholder="Alias" aria-label="Alias"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.alias">
            </div>
            <div class="input-group m-1 p-0">
                <span class="input-group-text m-0 p-0 px-2" id="basic-addon1">ALIAS</span>
                <input type="text" class="form-control m-0 p-0 px-3" placeholder="Alias" aria-label="Alias"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.alias">
            </div>
            <div class="input-group m-1 p-0">
                <span class="input-group-text m-0 p-0 px-2" id="basic-addon1">ALIAS</span>
                <input type="text" class="form-control m-0 p-0 px-3" placeholder="Alias" aria-label="Alias"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.alias">
            </div>
        </div>
        <div class="col-12 col-md-4">
            <p-divider align="center" type="solid" class="m-0 p-0">
                <b>Transporte</b>
            </p-divider>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">ALIAS</span>
                <input type="text" class="form-control" placeholder="Alias" aria-label="Alias"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.alias">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">ALIAS</span>
                <input type="text" class="form-control" placeholder="Alias" aria-label="Alias"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.alias">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">ALIAS</span>
                <input type="text" class="form-control" placeholder="Alias" aria-label="Alias"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.alias">
            </div>
        </div>
        <div class="col-12 col-md-4">
            <p-divider align="center" type="solid" class="m-0 p-0">
                <b>Origen</b>
            </p-divider>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">ALIAS</span>
                <input type="text" class="form-control" placeholder="Alias" aria-label="Alias"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.alias">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">ALIAS</span>
                <input type="text" class="form-control" placeholder="Alias" aria-label="Alias"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.alias">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">ALIAS</span>
                <input type="text" class="form-control" placeholder="Alias" aria-label="Alias"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.alias">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">ALIAS</span>
                <input type="text" class="form-control" placeholder="Alias" aria-label="Alias"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.alias">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">RAZON SOCIAL</span>
                <input type="text" class="form-control" placeholder="Razon Social" aria-label="Razon Social"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.razon_social">
            </div>
        </div>
    </div>
    <p-divider align="left" type="solid">
        <b>Domicilio</b>
    </p-divider>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">LOCALIDAD</span>
                <input type="text" class="form-control" placeholder="Localidad" aria-label="Localidad"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.localidad">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">PROVINCIA</span>
                <input type="text" class="form-control" placeholder="Provincia" aria-label="Provincia"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.provincia">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">DIRECCION</span>
                <input type="text" class="form-control" placeholder="Direccion" aria-label="Direccion"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.direccion">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">C.P.</span>
                <input type="text" class="form-control" placeholder="Cód. postal" aria-label="Cód. postal"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.codigo_postal">
            </div>
        </div>
    </div>
    <p-divider align="left" type="solid">
        <b>Contacto principal</b>
    </p-divider>
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">TELEFONO</span>
                <input type="text" class="form-control" placeholder="Telefono" aria-label="Telefono"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.telefono">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">CORREO</span>
                <input type="text" class="form-control" placeholder="Correo electrónico" aria-label="Correo electrónico"
                    aria-describedby="basic-addon1" [(ngModel)]="ingreso.correo">
            </div>
        </div>
    </div>

    @if (ingreso.id) {

    <p-divider align="left" type="solid">
        <b>Autorizados</b>
    </p-divider>
    @for (autorizado of autorizados; track $index) {
    <div class="card shadow p-2 py-4 my-3">
        <div class="row">
            <div class="col-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">NOMBRE/APELLIDO</span>
                    <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
                        aria-describedby="basic-addon1" [(ngModel)]="autorizado.descripcion">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">DNI</span>
                    <input type="text" class="form-control" placeholder="N° Documento" aria-label="N° Documento"
                        aria-describedby="basic-addon1" [(ngModel)]="autorizado.documento">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">CARGO</span>
                    <input type="text" class="form-control" placeholder="Cargo en la empresa"
                        aria-label="Cargo en la empresa" aria-describedby="basic-addon1" [(ngModel)]="autorizado.cargo">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">CONTACTO</span>
                    <input type="text" class="form-control" placeholder="Teléfono/Correo" aria-label="Teléfono/Correo"
                        aria-describedby="basic-addon1" [(ngModel)]="autorizado.contacto">
                </div>
            </div>
            <div class="col-12 col-md-4 text-end">
                <button type="button" class="btn btn-sm btn-warning py-2 me-2">{{autorizado.id ? 'EDITAR' :
                    'GUARDAR'}}</button>

                @if (autorizado.id) {
                <button type="button" class="btn btn-sm btn-danger py-2">ELIMINAR</button>
                }
            </div>
        </div>
    </div>
    }

    <button type="button" class="btn btn-sm btn-success m-2">AGREGAR AUTORIZADO</button>

    <p-divider align="left" type="solid">
        <b>Transporte</b>
    </p-divider>
    @for (transporte of transportes; track $index) {
    <div class="card shadow p-2 py-4 my-3">
        <div class="row mb-4 mb-md-0">
            <div class="col-12 col-md-8">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">TRANSPORTE</span>
                    <input type="text" class="form-control" placeholder="Razon Social" aria-label="Razon Social"
                        aria-describedby="basic-addon1" [(ngModel)]="transporte.transporte">
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">CUIT</span>
                    <input type="text" class="form-control" placeholder="CUIT Transportista"
                        aria-label="CUIT Transportista" aria-describedby="basic-addon1"
                        [(ngModel)]="transporte.cuit_transporte">
                </div>
            </div>
        </div>
        <div class="row mb-4 mb-md-0">
            <div class="col-12 col-md-8">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">CHOFER</span>
                    <input type="text" class="form-control" placeholder="Razon Social" aria-label="Razon Social"
                        aria-describedby="basic-addon1" [(ngModel)]="transporte.chofer">
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">CUIT</span>
                    <input type="text" class="form-control" placeholder="CUIT Chofer" aria-label="CUIT Chofer"
                        aria-describedby="basic-addon1" [(ngModel)]="transporte.cuit_chofer">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">PAT CH.</span>
                    <input type="text" class="form-control" placeholder="Patente chasis" aria-label="Patente chasis"
                        aria-describedby="basic-addon1" [(ngModel)]="transporte.patente_chasis">
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">PAT AC.</span>
                    <input type="text" class="form-control" placeholder="Patente acoplado" aria-label="Patente acoplado"
                        aria-describedby="basic-addon1" [(ngModel)]="transporte.patente_acoplado">
                </div>
            </div>
            <div class="col-12 col-md-4 text-end">
                <button type="button" class="btn btn-sm btn-warning py-2 me-2">{{transporte.id ? 'EDITAR' :
                    'GUARDAR'}}</button>

                @if (transporte.id) {
                <button type="button" class="btn btn-sm btn-danger py-2">ELIMINAR</button>
                }
            </div>
        </div>
    </div>
    }

    <button type="button" class="btn btn-sm btn-success m-2">AGREGAR TRANSPORTE</button>

    <p-divider align="left" type="solid">
        <b>Establecimientos / Destinos</b>
    </p-divider>

    @for (establecimiento of establecimientos; track $index) {
    <div class="card shadow p-2 py-4 my-3">
        <div class="row">
            <div class="col-12">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">DESCRIPCION</span>
                    <input type="text" class="form-control" placeholder="Descripcion" aria-label="Descripcion"
                        aria-describedby="basic-addon1" [(ngModel)]="establecimiento.descripcion">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">LOCALIDAD</span>
                    <input type="text" class="form-control" placeholder="Localidad" aria-label="Localidad"
                        aria-describedby="basic-addon1" [(ngModel)]="establecimiento.localidad">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">PROVINCIA</span>
                    <input type="text" class="form-control" placeholder="Provincia" aria-label="Provincia"
                        aria-describedby="basic-addon1" [(ngModel)]="establecimiento.provincia">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-end">
                <button type="button" class="btn btn-sm btn-warning py-2 me-2">{{establecimiento.id ? 'EDITAR' :
                    'GUARDAR'}}</button>

                @if (establecimiento.id) {
                <button type="button" class="btn btn-sm btn-danger py-2">ELIMINAR</button>
                }
            </div>
        </div>
    </div>
    }
    <button type="button" class="btn btn-sm btn-success m-2">AGREGAR
        ESTABLECIMIENTO</button>

    }

    <p-divider align="left" type="solid"></p-divider>

    <div class="row">
        <div class="col text-end">
            <button type="button" class="btn btn-warning m-2" (click)="visible_ingreso = false">CERRAR</button>
            @if (ingreso.id) {
            <button type="button" class="btn btn-danger m-2">ELIMINAR</button>
            }
            <button type="button" class="btn btn-success m-2" (click)="guardarIngreso()">{{ingreso.id ? 'EDITAR'
                : 'GUARDAR'}}</button>

        </div>
    </div>
</p-dialog>