<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h4 class="bg-secondary text-white" style="border-radius: 6px;">OPERACIONES</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-5">
            <button type="button" class="btn btn-secondary m-2" (click)="mostrarModalOperacion()"><i
                    class="pi pi-plus me-2"></i> NUEVA OPERACION</button>
            <button type="button" class="btn btn-secondary m-2" (click)="mostrarModalFiltro()">FILTROS</button>
        </div>
        <div class="col-12 col-md-7 text-md-end">
            <button type="button" class="btn btn-secondary m-2" (click)="listadoXLSX()"><i
                    class="pi pi-file-excel me-2"></i>LISTADO</button>
            <button type="button" class="btn btn-secondary m-2" (click)="detalleXLSX()"><i
                    class="pi pi-file-excel me-2"></i>REPORTE</button>
            <button type="button" class="btn btn-secondary m-2" (click)="datosXLSX()"><i
                    class="pi pi-file-excel me-2"></i>DATOS</button>
        </div>
    </div>

    <p>
        Mostrando {{dataTabla.length}} registros. Fecha: <strong>{{fechasFiltradas}}</strong>. Clientes:
        <strong>{{clienteFiltrados}}</strong>
    </p>


    <div class="table-responsive d-inline-table">
        <table class="table table-striped table-hover table-sm table-bordered">
            <thead>
                <tr>
                    <th scope="col" (click)="ordenarTabla('tipo')">TIPO
                        @if (ordenarTablaPor == 'tipo') {
                        <i class="pi {{ordenarTablaOrden ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                        } @else {
                        <i class="pi pi-sort-alt"></i>
                        }
                    </th>
                    <th scope="col" (click)="ordenarTabla('numeroMostrar')">NUMERO
                        @if (ordenarTablaPor == 'numeroMostrar') {
                        <i class="pi {{ordenarTablaOrden ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                        } @else {
                        <i class="pi pi-sort-alt"></i>
                        }
                    </th>
                    <th scope="col" (click)="ordenarTabla('fecha')">FECHA
                        @if (ordenarTablaPor == 'fecha') {
                        <i class="pi {{ordenarTablaOrden ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                        } @else {
                        <i class="pi pi-sort-alt"></i>
                        }
                    </th>
                    <th scope="col" (click)="ordenarTabla('alias_egreso')">CLIENTE (egresos)
                        @if (ordenarTablaPor == 'alias_egreso') {
                        <i class="pi {{ordenarTablaOrden ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                        } @else {
                        <i class="pi pi-sort-alt"></i>
                        }
                    </th>
                    <th scope="col" (click)="ordenarTabla('cuit_egreso')">CUIT
                        @if (ordenarTablaPor == 'cuit_egreso') {
                        <i class="pi {{ordenarTablaOrden ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                        } @else {
                        <i class="pi pi-sort-alt"></i>
                        }
                    </th>
                    <th scope="col" (click)="ordenarTabla('alias_ingreso')">CLIENTE (ingresos)
                        @if (ordenarTablaPor == 'alias_ingreso') {
                        <i class="pi {{ordenarTablaOrden ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                        } @else {
                        <i class="pi pi-sort-alt"></i>
                        }
                    </th>
                    <th scope="col" (click)="ordenarTabla('cuit_ingreso')">CUIT
                        @if (ordenarTablaPor == 'cuit_ingreso') {
                        <i class="pi {{ordenarTablaOrden ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                        } @else {
                        <i class="pi pi-sort-alt"></i>
                        }
                    </th>
                    <th scope="col" (click)="ordenarTabla('observaciones_sistema')">OBSERVACIONES
                        @if (ordenarTablaPor == 'observaciones_sistema') {
                        <i class="pi {{ordenarTablaOrden ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                        } @else {
                        <i class="pi pi-sort-alt"></i>
                        }
                    </th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                @for (registro of dataTabla; track $index) {
                <tr
                    (dblclick)="mostrarModalOperacion(registro.id)">
                    <th class="text-nowrap" scope="row"><p-tag [value]="registro.tipo"
                            [severity]="'success'" /></th>
                    <th class="text-nowrap" scope="row">{{registro.numeroMostrar}}</th>
                    <td class="text-nowrap">{{registro.fecha}}</td>
                    <td class="text-nowrap">{{registro.alias_egreso}}</td>
                    <td class="text-nowrap">{{registro.cuit_egreso}}</td>
                    <td class="text-nowrap">{{registro.alias_ingreso}}</td>
                    <td class="text-nowrap">{{registro.cuit_ingreso}}</td>

                    <td class="text-nowrap">{{registro.observaciones_sistema}}</td>

                    <td class="text-nowrap">
                        <button type="button" class="btn btn-sm btn-primary m-0 mx-1 p-0 px-1 pt-1"
                            (click)="mostrarModalOperacion(registro.id)" title="Ver Ingreso"><i
                                class="pi pi-bars"></i></button>
                        <button type="button" class="btn btn-sm btn-primary m-0 mx-1 p-0 px-1 pt-1"
                            (click)="verOperacion(registro.id)" title="Ver PDF"><i class="pi pi-file-pdf"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-primary m-0 mx-1 p-0 px-1 pt-1"
                            (click)="descargarOperacion(registro.id)" title="Descargar PDF"><i
                                class="pi pi-download"></i></button>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<p-dialog header="{{operacion.id ? 'VER OPERACION' : 'NUEVA OPERACION'}}" [modal]="true"
    [(visible)]="visible_operacion" [style]="{ width: '95%'}" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="true" [closeOnEscape]="operacion.id != ''">

    <!-- HEADERS -->
    <div class="row py-2 bg-secondary" style="border-radius: 6px;">
        <div class="col-6 col-md-3 mb-2 mb-md-0">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Modelo</span>

                <select class="input-group-text" [(ngModel)]="operacion.modelo" [disabled]="operacion.id != ''">
                    @for (modRem of modelosRemitos; track $index) {
                    <option value={{modRem.alias}}>{{modRem.descripcion}}</option>
                    }
                </select>

            </div>
        </div>
        <div class="col-6 col-md-3 mb-2 mb-md-0">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Tipo</span>

                <select class="input-group-text" [(ngModel)]="operacion.tipo" [disabled]="operacion.id != ''">
                    @for (tiposOperacion of tiposOperaciones; track $index) {
                    <option value={{tiposOperacion.alias}}>{{tiposOperacion.alias}}</option>
                    }
                </select>

            </div>
        </div>
        <div class="col-6 col-md-2 mb-2 mb-md-0">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1" style="width: 50%;">P. Venta</span>
                <select class="input-group-text" [(ngModel)]="operacion.punto" style="width: 50%;"
                    [disabled]="operacion.id != ''">
                    @for (ptoVta of puntosVenta; track $index) {
                    <option value={{ptoVta.punto}}>{{ptoVta.descripcion}}</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-6 col-md-2">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">N°</span>
                <input type="number" class="form-control" placeholder="Numero" aria-label="Numero"
                    aria-describedby="basic-addon1" [(ngModel)]="operacion.numero" disabled="">
            </div>
        </div>
        <div class="col-6 col-md-2">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">FECHA</span>
                <input type="date" class="form-control" placeholder="FECHA" aria-label="FECHA"
                    aria-describedby="basic-addon1" [(ngModel)]="operacion.fecha" [disabled]="operacion.id != ''">
            </div>
        </div>
    </div>

    <!-- PESTAÑAS -->
    <ul class="nav nav-tabs my-2">
        <li class="nav-item">
            <a class="nav-link p-1 px-3 {{pestActiva == 'cliente' ? 'active' : ''}}" href=""
                (click)="pestana('cliente', $event)">CLIENTE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-1 px-3 {{pestActiva == 'documentos' ? 'active' : ''}}" href=""
                (click)="pestana('documentos', $event)">DOCUMENTOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-1 px-3 {{pestActiva == 'observaciones' ? 'active' : ''}}" href=""
                (click)="pestana('observaciones', $event)">OBSERVACIONES</a>
        </li>
    </ul>

    @if(pestActiva == 'cliente'){
    <div style="min-height: 180px;">
        <div class="row my-3">
            <div class="col-12 col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1" style="width: 15%;">Cód.</span>
                    @if(!operacion.id_cliente_egreso){
                    <input type="text" class="form-control" placeholder="Código" aria-label="Código"
                        aria-describedby="basic-addon1" [(ngModel)]="operacion.codigo_egreso"
                        (keyup.enter)="buscarClienteEgresoPorCodigo()">
                    } @else {
                    <span class="input-group-text" id="basic-addon1" style="width: 84%;">{{operacion.codigo_egreso}}</span>
                    }
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Razon Social EGRESO</span>
                    <input type="text" class="form-control" placeholder="Razon Social" aria-label="Razon Social"
                        aria-describedby="basic-addon1" [(ngModel)]="operacion.razon_social_egreso" readonly>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12 col-md-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1" style="width: 15%;">Cód.</span>
                    @if(!operacion.id_cliente_ingreso){
                    <input type="text" class="form-control" placeholder="Código" aria-label="Código"
                        aria-describedby="basic-addon1" [(ngModel)]="operacion.codigo_ingreso"
                        (keyup.enter)="buscarClienteIngresoPorCodigo()">
                    } @else {
                    <span class="input-group-text" id="basic-addon1" style="width: 84%;">{{operacion.codigo_ingreso}}</span>
                    }
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Razon Social INGRESO</span>
                    <input type="text" class="form-control" placeholder="Razon Social" aria-label="Razon Social"
                        aria-describedby="basic-addon1" [(ngModel)]="operacion.razon_social_ingreso" readonly>
                </div>
            </div>
        </div>
    </div>
    }

    @if(pestActiva == 'documentos'){
    <div style="min-height: 180px;">
        @for (doc of operacion.datos.documentos; track $index) {
        <div class="row mb-2">
            <div class="col-3">
                <div class="input-group">
                    <select class="input-group-text" [(ngModel)]="doc.tipo" [disabled]="operacion.id != ''">
                        <option value=remito>REMITO</option>
                        <option value=factura>FACTURA</option>
                        <option value=ticket_balanza>TICKET BALANZA</option>
                        <option value=otros>OTROS</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <select class="input-group-text" [(ngModel)]="doc.letra" [disabled]="operacion.id != ''">
                        <option value=A>A</option>
                        <option value=B>B</option>
                        <option value=C>C</option>
                        <option value=R>R</option>
                        <option value=X>X</option>
                    </select>

                    <input type="number" class="form-control m-0 p-0 px-3" placeholder="Punto" aria-label="Punto"
                        aria-describedby="basic-addon1" [(ngModel)]="doc.punto" [readonly]="operacion.id != ''">

                    <input type="number" class="form-control m-0 p-0 px-3" placeholder="Numero" aria-label="Numero"
                        aria-describedby="basic-addon1" [(ngModel)]="doc.numero" [readonly]="operacion.id != ''">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">FECHA</span>
                    <input type="date" class="form-control" placeholder="FECHA" aria-label="FECHA"
                        aria-describedby="basic-addon1" [(ngModel)]="doc.fecha" [disabled]="operacion.id != ''">
                </div>
            </div>
            <div class="col-3">
                @if(!operacion.id){
                <button type="button" class="btn btn-warning p-1 mx-3"
                    (click)="eliminarDocumento(doc.id)">ELIMINAR</button>
                }
            </div>
        </div>
        }
        @if(!operacion.id){
        <button type="button" class="btn btn-warning px-3" (click)="agregarDocumento()">Agregar</button>
        }
    </div>
    }

    @if(pestActiva == 'observaciones'){
    <div style="min-height: 180px;">
        <div class="row">
            <div class="col-12 col-md-6">
                <p-divider align="left" type="solid" [style]="{'margin': '0px'}">Observaciones / Sale en
                    Remito</p-divider>

                <textarea rows="5" pInputTextarea style="width: 100%;" [(ngModel)]="operacion.observaciones"
                    [readonly]="operacion.id != ''" class="p-2">
                </textarea>
            </div>
            <div class="col-12 col-md-6">
                <p-divider align="left" type="solid" [style]="{'margin': '0px'}">Observaciones / Para
                    sistema</p-divider>

                <textarea rows="5" pInputTextarea style="width: 100%;" [(ngModel)]="operacion.observaciones_sistema"
                    [readonly]="operacion.id != ''">
                </textarea>
            </div>
        </div>
    </div>
    }

    <p-divider align="left" type="solid" class="m-0 p-0" [style]="{'margin': '20px 0px'}">
        <b>Artículos <strong>EGRESOS</strong> @if(operacion.alias_egreso){ (articulos a descontar del stock de {{operacion.alias_egreso}})}</b>
    </p-divider>

    <!-- TABLA ARTICULOS EGRESO -->
    <div class="table-responsive" style="max-height: 400px;">
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Cód</th>
                    <th scope="col" class="text-center">Descripción</th>
                    <th scope="col" class="text-center">Cant.</th>
                    <th scope="col" class="text-center">U.M.</th>
                    <th scope="col" class="text-center" style="color: rgb(175, 28, 28);">Cant</th>
                    <th scope="col" class="text-center" style="color: rgb(175, 28, 28);">U.F.</th>
                    <th scope="col" class="text-center">Deposito</th>
                    <th scope="col" class="text-center">Lote</th>
                    <th scope="col" class="text-center">Vto</th>
                </tr>
            </thead>
            <tbody>
                @for (art of dataTablaArticulosRemitar; track $index) {
                <tr>
                    <th scope="row" class="p-0 text-end align-middle" style="font-size: small; color: rgb(88, 88, 88);">
                        {{$index + 1}})</th>
                    <th scope="row" class="p-0" style="min-width: 100px;">
                        {{art.codigo}}
                    </th>
                    <td class="text-nowrap p-0" style="min-width: 500px;">{{art.descripcion ? art.descripcion : '-'}}
                    </td>
                    <td class="text-nowrap p-0 text-end" style="min-width: 80px;">
                        {{mostrarNumero(art.cantidad)}}
                    </td>
                    <td class="text-nowrap p-0 text-center" style="min-width: 90px;">{{art.id_unidadMedida ?
                        obtenerDescripcionUnidadMedida(art.id_unidadMedida) : '-'}}</td>
                    <td class="text-nowrap p-0 text-end" style="min-width: 80px;">
                        {{mostrarNumero(art.cantidadUnidadFundamental)}}
                    </td>
                    <td class="text-nowrap p-0 text-center" style="min-width: 90px;">{{art.unidadFundamental ?
                        art.unidadFundamental : '-'}}</td>
                    <td class="text-nowrap p-0">
                        <select class="input_tabla p-1" [(ngModel)]="art.id_deposito" [disabled]="true">
                            @for (dep of depositos; track $index) {
                            <option value={{dep.id}}>{{dep.alias}}</option>
                            }
                        </select>
                    </td>
                    <td class="text-nowrap p-0 text-end" style="min-width: 80px;">
                        {{art.lote ? art.lote : '-'}}
                    </td>
                    <td class="text-nowrap p-0 text-end" style="min-width: 80px;">
                        {{art.vencimiento ? art.vencimiento : '-'}}
                    </td>
                </tr>
                }
            </tbody>
        </table>

        @if (operacion.id == '') {
        <button type="button" class="btn btn-success m-2 p-0 px-5" (click)="mostrarModalAsociarArticulos()" [disabled]="!id_cliente_egreso">Asociar articulos</button>
        }
    </div>


    <p-divider align="left" type="solid" class="m-0 p-0" [style]="{'margin': '20px 0px'}">
        <b>Artículos <strong>INGRESOS</strong> @if(operacion.alias_ingreso){ (articulos a sumar al stock de {{operacion.alias_ingreso}})}</b>
    </p-divider>

    <!-- TABLA ARTICULOS INGRESO -->
    <div class="table-responsive" style="max-height: 400px;">
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Cód</th>
                    <th scope="col" class="text-center">Descripción</th>
                    <th scope="col" class="text-center">Cant.</th>
                    <th scope="col" class="text-center">U.M.</th>
                    <th scope="col" class="text-center" style="color: rgb(175, 28, 28);">Cant</th>
                    <th scope="col" class="text-center" style="color: rgb(175, 28, 28);">U.F.</th>
                    <th scope="col" class="text-center">Deposito</th>
                    <th scope="col" class="text-center">Lote</th>
                    <th scope="col" class="text-center">Vto</th>
                    <th scope="col" class="text-center">#</th>
                </tr>
            </thead>
            <tbody>
                @for (art of articulosOperacionIngreso; track $index) {
                <tr>
                    <th scope="row" class="p-0 text-end align-middle" style="font-size: small; color: rgb(88, 88, 88);">
                        {{$index + 1}})</th>
                    <th scope="row" class="p-0" style="min-width: 100px;"><input class="input_tabla" type="text"
                            [(ngModel)]="art.codigo" (keyup.enter)="buscarArticuloPorCodigo(art)"
                            [readOnly]="art.id_articulo"></th>
                    <td class="text-nowrap p-0" style="min-width: 500px;">{{art.descripcion ? art.descripcion : '-'}}
                    </td>
                    <td class="text-nowrap p-0" style="min-width: 80px;"><input class="input_tabla" type="number"
                            [(ngModel)]="art.cantidad" (keyup)="calcularUnidadFundamental(art)"
                            (change)="calcularUnidadFundamental(art)" [readonly]="operacion.id != ''"></td>
                    <td class="text-nowrap p-0 text-center" style="min-width: 90px;">{{art.id_unidadMedida ?
                        obtenerDescripcionUnidadMedida(art.id_unidadMedida) : '-'}}</td>
                    <td class="text-nowrap p-0" style="min-width: 80px;"><input class="input_tabla" type="number"
                            [(ngModel)]="art.cantidadUnidadFundamental" [readonly]="operacion.id != ''"></td>
                    <td class="text-nowrap p-0 text-center" style="min-width: 90px;">{{art.unidadFundamental ?
                        art.unidadFundamental : '-'}}</td>
                    <td class="text-nowrap p-0">
                        <select class="input_tabla p-1" [(ngModel)]="art.id_deposito" [disabled]="operacion.id != ''">
                            @for (dep of depositos; track $index) {
                            <option value={{dep.id}}>{{dep.alias}}</option>
                            }
                        </select>
                    </td>
                    <td class="text-nowrap p-0" style="min-width: 80px;">
                        @if (art.solicitaLote) {
                        <input class="input_tabla" type="text" [(ngModel)]="art.lote" [readonly]="operacion.id != ''">
                        }
                    </td>
                    <td class="text-nowrap p-0" style="min-width: 80px;">
                        @if (art.solicitaVencimiento) {
                        <input class="input_tabla" type="date" [(ngModel)]="art.vencimiento"
                            [readonly]="operacion.id != ''">
                        }
                    </td>
                    <td class="text-nowrap p-0">
                        @if(art.id_articulo && operacion.id == ''){
                        <button type="button" class="btn btn-sm btn-danger m-0 mx-1 p-0 px-1"
                            (click)="eliminarArticuloIngreso(art.id)"><i class="pi pi-trash"></i></button>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>

        @if (operacion.id == '') {
        <button type="button" class="btn btn-success m-2 p-0 px-5" (click)="agregarArticulosIngreso()" [disabled]="!id_cliente_ingreso">Agregar nuevo</button>
        }
    </div>



    <div class="row">
        <div class="col text-end">
            <button type="button" class="btn btn-warning m-2" (click)="visible_operacion = false">CERRAR</button>
            @if (!operacion.id) {
            <button type="button" class="btn btn-success m-2" (click)="guardarOperacion('M')">GUARDAR Y
                MOSTRAR</button>
            <button type="button" class="btn btn-success m-2" (click)="guardarOperacion('D')">GUARDAR Y
                DESCARGAR</button>
            <button type="button" class="btn btn-success m-2" (click)="guardarOperacion()">GUARDAR</button>
            } @else {
            <button type="button" class="btn btn-success m-2" (click)="verOperacion(operacion.id)">VER PDF</button>
            <button type="button" class="btn btn-success m-2" (click)="descargarOperacion(operacion.id)">DESCARGAR
                PDF</button>
            }

        </div>
    </div>
</p-dialog>



<p-dialog header="SELECCIONAR CLIENTE" [modal]="true" [(visible)]="visible_cliente" [style]="{ width: '50rem'}"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

    <div class="row py-2">
        <div class="card m-1 p-2 shadow">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar..."
                [(ngModel)]="searchValue_cliente" (keyup)="filtroCliente()"
                [ngStyle]="{'background-color':searchValue_cliente == '' ? '' : 'rgb(202, 253, 202)'}">

            <div class="listbox-container" id="listbox">
                @for (client of clientesFiltrados; track $index) {
                <div class="listbox-item" (click)="buscandoCliente == 'ingreso' ? asignarClienteIngreso(client) : asignarClienteEgreso(client)"><strong>{{client.alias}}</strong> - CUIT
                    {{client.cuit}} ({{client.razon_social}})</div>
                }
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog header="SELECCIONAR ARTICULO" [modal]="true" [(visible)]="visible_articulo" [style]="{ width: '30rem'}"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

    <div class="row py-2">
        <div class="card m-1 p-2 shadow">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar..."
                [(ngModel)]="searchValue_articulo" (keyup)="filtroArticulo()"
                [ngStyle]="{'background-color':searchValue_articulo == '' ? '' : 'rgb(202, 253, 202)'}">

            <div class="listbox-container" id="listbox">
                @for (artFil of articulosFiltrados; track $index) {
                <div class="listbox-item" (click)="asignarArticulo(articuloProvisorio!, artFil)">{{artFil.descripcion}}</div>
                }
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog header="FILTRAR" [modal]="true" [(visible)]="visible_filtros" [style]="{ width: '70rem'}"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

    <div class="row py-2">
        <div class="col-12 col-xl-6">
            <p-divider align="left" type="solid" class="m-0 p-0" [style]="{'margin': '5px 0px'}">
                <b>Selecciona uno o varios clientes:</b> (Todos: CTRL + A)
            </p-divider>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1" style="width: 15%;">Buscar</span>
                <input type="text" class="form-control" placeholder="Alias / Razon Social"
                    aria-label="Alias / Razon Social" aria-describedby="basic-addon1" [(ngModel)]="searchValue_cliente"
                    (change)="clienteFiltro()" (keyup)="clienteFiltro()">
            </div>
            <div class="form-group">
                <select id="clientes" class="form-control" multiple [(ngModel)]="selectedClientes"
                    style="height: 400px;">
                    @for (item of clientesFiltrados; track $index) {
                    <option value="{{item.id}}">{{item.alias}} ({{item.razon_social}})</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <p-divider align="left" type="solid" class="m-0 p-0" [style]="{'margin': '5px 0px'}">
                <b>Fecha:</b>
            </p-divider>

            <div class="row my-2">
                <div class="col text-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-primary" (click)="fechaFiltro(0)">HOY</button>
                        <button type="button" class="btn btn-outline-primary" (click)="fechaFiltro(7)">ULTIMA
                            SEMANA</button>
                        <button type="button" class="btn btn-outline-primary" (click)="fechaFiltro(31)">ULTIMO
                            MES</button>
                        <button type="button" class="btn btn-outline-primary" (click)="fechaFiltro(365)">ULTIMO
                            AÑO</button>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col mb-2">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">DESDE</span>
                        <input type="date" class="form-control" placeholder="FECHA" aria-label="FECHA"
                            aria-describedby="basic-addon1" [(ngModel)]="fechaFiltroDesde">
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">HASTA</span>
                        <input type="date" class="form-control" placeholder="FECHA" aria-label="FECHA"
                            aria-describedby="basic-addon1" [(ngModel)]="fechaFiltroHasta">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col text-end">
            <button type="button" class="btn btn-info m-2" (click)="guardarFechas()">GUARDAR FECHAS</button>

            <button type="button" class="btn btn-warning m-2" (click)="visible_filtros = false">CERRAR</button>

            <button type="button" class="btn btn-success m-2" (click)="filtrar()">APLICAR</button>
        </div>
    </div>
</p-dialog>

<p-dialog header="SELECCIONAR ARTICULOS PARA DESCONTAR" [modal]="true" [(visible)]="visible_articulo_egreso"
    [style]="{ width: '95rem', height: '95rem'}" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="true">

    <div class="row py-2">
        <div class="col-12 col-xl-5">
            <div class="input-group">
                <button class="btn btn-success" type="button" id="basic-addon1"
                    (click)="buscarArticulosParaRemitar()">BUSCAR</button>
            </div>
        </div>

        <div class="col-12 col-xl-7">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">Filtrar</span>

                <input type="text" class="form-control" placeholder="Articulo / Lote / Serie"
                    aria-label="Articulo / Lote / Serie" aria-describedby="basic-addon1"
                    [(ngModel)]="searchValue_articuloEgreso" (change)="filtroArticuloEgreso()" (keyup)="filtroArticuloEgreso()">

            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm table-bordered">
                <thead>
                    <tr>
                        <th class="text-nowrap" scope="col" (click)="ordenarTablaArticulos('fecha')">FECHA
                            @if (ordenarTablaPor_art == 'fecha') {
                            <i
                                class="pi {{ordenarTablaOrden_art ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                            } @else {
                            <i class="pi pi-sort-alt"></i>
                            }
                        </th>
                        <th class="text-nowrap" scope="col" (click)="ordenarTablaArticulos('tipo')">INGRESO
                            @if (ordenarTablaPor_art == 'tipo') {
                            <i
                                class="pi {{ordenarTablaOrden_art ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                            } @else {
                            <i class="pi pi-sort-alt"></i>
                            }
                        </th>
                        <th class="text-nowrap" scope="col" (click)="ordenarTablaArticulos('numeroDocumento')">NUMERO
                            @if (ordenarTablaPor_art == 'numeroDocumento') {
                            <i
                                class="pi {{ordenarTablaOrden_art ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                            } @else {
                            <i class="pi pi-sort-alt"></i>
                            }
                        </th>
                        <th class="text-nowrap" scope="col" (click)="ordenarTablaArticulos('razon_social')">DUEÑO
                            @if (ordenarTablaPor_art == 'razon_social') {
                            <i
                                class="pi {{ordenarTablaOrden_art ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                            } @else {
                            <i class="pi pi-sort-alt"></i>
                            }
                        </th>
                        <th class="text-nowrap" scope="col" (click)="ordenarTablaArticulos('codigo')">COD
                            @if (ordenarTablaPor_art == 'codigo') {
                            <i
                                class="pi {{ordenarTablaOrden_art ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                            } @else {
                            <i class="pi pi-sort-alt"></i>
                            }
                        </th>
                        <th class="text-nowrap" scope="col" (click)="ordenarTablaArticulos('descripcion')">ARTICULO
                            @if (ordenarTablaPor_art == 'descripcion') {
                            <i
                                class="pi {{ordenarTablaOrden_art ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                            } @else {
                            <i class="pi pi-sort-alt"></i>
                            }
                        </th>
                        <th class="text-nowrap" scope="col" (click)="ordenarTablaArticulos('deposito')">DEPOSITO
                            @if (ordenarTablaPor_art == 'deposito') {
                            <i
                                class="pi {{ordenarTablaOrden_art ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                            } @else {
                            <i class="pi pi-sort-alt"></i>
                            }
                        </th>
                        <th class="text-nowrap" scope="col" (click)="ordenarTablaArticulos('lote')">LOTE/SERIE
                            @if (ordenarTablaPor_art == 'lote') {
                            <i
                                class="pi {{ordenarTablaOrden_art ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                            } @else {
                            <i class="pi pi-sort-alt"></i>
                            }
                        </th>
                        <th class="text-nowrap" scope="col" (click)="ordenarTablaArticulos('vencimiento')">VENCIMIENTO
                            @if (ordenarTablaPor_art == 'vencimiento') {
                            <i
                                class="pi {{ordenarTablaOrden_art ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                            } @else {
                            <i class="pi pi-sort-alt"></i>
                            }
                        </th>
                        <th class="text-nowrap" scope="col" (click)="ordenarTablaArticulos('cantidad')">CANT.
                            DISP.
                            @if (ordenarTablaPor_art == 'cantidad') {
                            <i
                                class="pi {{ordenarTablaOrden_art ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                            } @else {
                            <i class="pi pi-sort-alt"></i>
                            }
                        </th>
                        <th class="text-nowrap" scope="col" (click)="ordenarTablaArticulos('cantidadRemitar')">CANTIDAD
                            @if (ordenarTablaPor_art == 'cantidadRemitar') {
                            <i
                                class="pi {{ordenarTablaOrden_art ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                            } @else {
                            <i class="pi pi-sort-alt"></i>
                            }
                        </th>
                        <th class="text-nowrap" scope="col" (click)="ordenarTablaArticulos('unidadMedida')">U.M.
                            @if (ordenarTablaPor_art == 'unidadMedida') {
                            <i
                                class="pi {{ordenarTablaOrden_art ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                            } @else {
                            <i class="pi pi-sort-alt"></i>
                            }
                        </th>
                        <th class="text-nowrap" scope="col" (click)="ordenarTablaArticulos('cantidadRemitarUnidadFundamental')">CANT F.
                            @if (ordenarTablaPor_art == 'cantidadRemitarUnidadFundamental') {
                            <i
                                class="pi {{ordenarTablaOrden_art ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                            } @else {
                            <i class="pi pi-sort-alt"></i>
                            }
                        </th>
                        <th class="text-nowrap" scope="col" (click)="ordenarTablaArticulos('unidadFundamental')">U.M.F.
                            @if (ordenarTablaPor_art == 'unidadFundamental') {
                            <i
                                class="pi {{ordenarTablaOrden_art ? 'pi-sort-amount-down' : 'pi-sort-amount-up-alt'}}"></i>
                            } @else {
                            <i class="pi pi-sort-alt"></i>
                            }
                        </th>
                        <th class="text-nowrap" scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                    @for (registro of dataTablaArticulos; track $index) {
                    <tr>
                        <td class="text-nowrap text-center">{{registro.fecha}}</td>

                        <th class="text-nowrap text-center" scope="row"><p-tag [value]="registro.tipo"
                                [severity]="registro.tipo == 'INGRESO' ? 'success' : 'info'" /></th>


                        <td class="text-nowrap text-center">{{registro.numeroDocumento}}</td>
                        <td class="text-nowrap">{{registro.razon_social}}</td>
                        <td class="text-nowrap">{{registro.codigo}}</td>
                        <td class="text-nowrap">{{registro.descripcion}}</td>
                        <td class="text-nowrap">{{registro.deposito}}</td>
                        <td class="text-nowrap">{{registro.lote}}</td>
                        <td class="text-nowrap">{{registro.vencimiento}}</td>
                        <td class="text-nowrap"><strong>{{registro.cantidad}}</strong> | ~{{registro.cantidadUnidadFundamental}}</td>


                        <td class="text-nowrap">
                            <input class="input_tabla" type="number" [(ngModel)]="registro.cantidadRemitar"
                                (keyup)="calcularUnidadFundamentalRemito(registro)"
                                (change)="calcularUnidadFundamentalRemito(registro)" min="0">
                        </td>
                        <td class="text-nowrap">{{registro.unidadMedida}}</td>
                        <td class="text-nowrap">
                            <input class="input_tabla" type="number" [(ngModel)]="registro.cantidadRemitarUnidadFundamental"
                                (keyup)="verificarMaxUFRemitar(registro)"
                                (change)="verificarMaxUFRemitar(registro)" min="0">
                        </td>
                        <td class="text-nowrap">{{registro.unidadFundamental}}</td>


                        <td class="text-nowrap">
                            <button type="button" class="btn btn-sm btn-success m-0 mx-1 p-0 px-1" (click)="seleccionarDevolverTodoRemito(registro)"><i
                                    class="pi pi-list-check"></i></button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col text-end">
            <button type="button" class="btn btn-warning m-2" (click)="visible_articulo_egreso = false">CERRAR</button>

            <button type="button" class="btn btn-warning m-2" (click)="seleccionarDevolverTodoRemito()">SELECCIONAR
                TODO</button>
            <button type="button" class="btn btn-success m-2" (click)="setearArticulosSeleccionados()">GUARDAR SELECCION</button>

        </div>
    </div>
</p-dialog>