<div class="container-fluid">
    <div class="row mx-1">
        <div class="col-12 col-sm-6 col-xl-2 p-0">
            <div class="card m-1 p-2 shadow">
                <h3>Rubros <button type="button" class="btn btn-primary m-2"
                        (click)="mostrarModalRubro()">NUEVO</button></h3>

                <input type="text" id="searchInput" class="form-control" placeholder="Buscar..."
                    [(ngModel)]="searchValue_rubro" (keyup)="filtroRubro()"
                    [ngStyle]="{'background-color':searchValue_rubro == '' ? '' : 'rgb(202, 253, 202)'}">

                <div class="listbox-container" id="listbox">
                    @for (rub of rubrosFiltrados; track $index) {
                    <div class="listbox-item" [ngClass]="id_rubro == rub.id ? 'selected' : ''"
                        (click)="onChangeRubro(rub.id)" (dblclick)="mostrarModalRubro(rub.id)">{{rub.descripcion}}</div>
                    }
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-2 p-0">
            <div class="card m-1 p-2 shadow">
                <h3>SubRubros <button type="button" class="btn btn-primary m-2"
                        (click)="mostrarModalSubRubro()">NUEVO</button></h3>

                @if (id_rubro) {
                <input type="text" id="searchInput" class="form-control" placeholder="Buscar..."
                    [(ngModel)]="searchValue_subRubro" (keyup)="filtroSubRubro()"
                    [ngStyle]="{'background-color':searchValue_subRubro == '' ? '' : 'rgb(202, 253, 202)'}">

                <div class="listbox-container" id="listbox">
                    @for (subRub of subRubrosFiltrados; track $index) {
                    <div class="listbox-item" [ngClass]="id_subRubro == subRub.id ? 'selected' : ''"
                        (click)="onChangeSubRubro(subRub.id)" (dblclick)="mostrarModalSubRubro(subRub.id)">
                        {{subRub.descripcion}}</div>
                    }
                </div>
                } @else {
                <p>Seleccione un RUBRO</p>
                }
            </div>
        </div>
        <div class="col-12 col-sm-12 col-xl-8 p-0">
            <div class="card m-1 p-2 shadow">
                <h3>Articulos <button type="button" class="btn btn-primary m-2"
                        (click)="mostrarModalArticulo()">NUEVO</button>
                </h3>

                <div class="container-fluid p-2">
                    <p-table [value]="articulos" [tableStyle]="{ 'min-width': '50rem' }" #dt1
                        styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" [paginator]="true"
                        [rows]="20" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 20, 50, 100, 500, 1000]"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                        sortField="descripcion" [globalFilterFields]="['codigo', 'descripcion', 'observaciones']"
                        dataKey="id">

                        <ng-template pTemplate="caption">
                            <div class="flex text-end">
                                <p-button label="Limpiar" [outlined]="true" icon="pi pi-filter-slash"
                                    (onClick)="clear(dt1)" />

                                <span class="p-input-icon-left ml-auto text-end">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" [(ngModel)]="searchValue"
                                        (input)="dt1.filterGlobal(searchValue, 'contains')" placeholder="Buscar" />
                                </span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="codigo" class="p-1">
                                    CÓD. <p-sortIcon field="codigo" />
                                </th>
                                <th pSortableColumn="descripcion" class="p-1">
                                    DESCRIPCION <p-sortIcon field="descripcion" />
                                </th>
                                <th pSortableColumn="id_laboratorio" class="p-1">
                                    LABORATORIO <p-sortIcon field="id_laboratorio" />
                                </th>
                                <th pSortableColumn="id_unidadMedida" class="p-1">
                                    U.M. <p-sortIcon field="id_unidadMedida" />
                                </th>
                                <th pSortableColumn="solicitaVencimiento" class="p-1">
                                    VTO <p-sortIcon field="solicitaVencimiento" />
                                </th>
                                <th pSortableColumn="solicitaLote" class="p-1">
                                    LOTE <p-sortIcon field="solicitaLote" />
                                </th>
                                <th pSortableColumn="activo" class="p-1">
                                    STATUS <p-sortIcon field="activo" />
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-art>
                            <tr (dblclick)="mostrarModalArticulo(art.id)">
                                <td class="text-nowrap" class="p-1"><strong>{{ art.codigo }}</strong></td>
                                <td class="text-nowrap" class="p-1">{{ art.descripcion }}</td>
                                <td class="text-nowrap" class="p-1">{{ obtenerDescripcionLaboratorio(art.id_laboratorio) }}</td>
                                <td class="text-nowrap" class="p-1">{{ obtenerDescripcionUnidadMedida(art.id_unidadMedida) }}</td>
                                <td class="text-center" class="p-1"><p-tag [value]="art.solicitaVencimiento ? 'SI' : 'NO'" [severity]="art.solicitaVencimiento ? 'success' : 'danger'" /></td>
                                <td class="text-center" class="p-1"><p-tag [value]="art.solicitaLote ? 'SI' : 'NO'" [severity]="art.solicitaLote ? 'success' : 'danger'" /></td>
                                <td class="text-center" class="p-1"><p-tag [value]="art.activo ? 'ACTIVO' : 'INACTIVO'" [severity]="art.activo ? 'success' : 'danger'" /></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

            </div>
        </div>
    </div>
</div>


<p-dialog header="{{rubro.id ? 'EDITAR RUBRO' : 'NUEVO RUBRO'}}" [modal]="true" [(visible)]="visible_rubro"
    [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">

    <div class="row">
        <div class="col-12 col-md-4">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Alias</span>
                <input type="text" class="form-control" placeholder="Alias" aria-label="Alias"
                    aria-describedby="basic-addon1" [(ngModel)]="rubro.alias">
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Desc.</span>
                <input type="text" class="form-control" placeholder="Descripcion completa"
                    aria-label="Descripcion completa" aria-describedby="basic-addon1" [(ngModel)]="rubro.descripcion">
            </div>
        </div>
    </div>


    <p-divider align="left" type="solid"></p-divider>

    <div class="row">
        <div class="col text-end">
            <button type="button" class="btn btn-warning m-2" (click)="visible_rubro = false">CERRAR</button>
            @if (rubro.id) {
            <button type="button" class="btn btn-danger m-2" (click)="eliminarRubro(rubro.id)">ELIMINAR</button>
            }
            <button type="button" class="btn btn-success m-2" (click)="guardarRubro(rubro)">{{rubro.id ? 'EDITAR'
                : 'GUARDAR'}}</button>

        </div>
    </div>
</p-dialog>


<p-dialog header="{{subRubro.id ? 'EDITAR SUB-RUBRO' : 'NUEVO SUB-RUBRO'}}" [modal]="true"
    [(visible)]="visible_subRubro" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="true">

    <h3 class="mb-5 text-center">SUBRUBRO DE: <strong
            style="color: brown;">{{obtenerDescripcionRubro(id_rubro)}}</strong></h3>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Alias</span>
                <input type="text" class="form-control" placeholder="Alias" aria-label="Alias"
                    aria-describedby="basic-addon1" [(ngModel)]="subRubro.alias">
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Desc.</span>
                <input type="text" class="form-control" placeholder="Descripcion completa"
                    aria-label="Descripcion completa" aria-describedby="basic-addon1"
                    [(ngModel)]="subRubro.descripcion">
            </div>
        </div>
    </div>


    <p-divider align="left" type="solid"></p-divider>

    <div class="row">
        <div class="col text-end">
            <button type="button" class="btn btn-warning m-2" (click)="visible_subRubro = false">CERRAR</button>
            @if (subRubro.id) {
            <button type="button" class="btn btn-danger m-2" (click)="eliminarSubRubro(subRubro.id)">ELIMINAR</button>
            }
            <button type="button" class="btn btn-success m-2" (click)="guardarSubRubro(subRubro)">{{subRubro.id ?
                'EDITAR'
                : 'GUARDAR'}}</button>

        </div>
    </div>
</p-dialog>


<p-dialog header="{{articulo.id ? 'EDITAR ARTICULO' : 'NUEVO ARTICULO'}}" [modal]="true" [(visible)]="visible_articulo"
    [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">

    <h3 class="mb-5 text-center">ARTICULO DE: <strong
            style="color: brown;">{{obtenerDescripcionRubro(id_rubro)}}</strong> - <strong
            style="color: brown;">{{obtenerDescripcionSubRubro(id_subRubro)}}</strong></h3>

    <div class="row">
        <div class="col-12 col-md-4">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Cód.</span>
                <input type="text" class="form-control" placeholder="Código de artículo" aria-label="Código de artículo"
                    aria-describedby="basic-addon1" [(ngModel)]="articulo.codigo">
            </div>
        </div>
        <div class="col-12 col-md-8">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Desc.</span>
                <input type="text" class="form-control" placeholder="Descripcion completa"
                    aria-label="Descripcion completa" aria-describedby="basic-addon1"
                    [(ngModel)]="articulo.descripcion">
            </div>
        </div>
    </div>

    <p-divider align="left" type="solid">Observaciones / Detalles</p-divider>

    <textarea rows="3" pInputTextarea style="width: 100%;" [(ngModel)]="articulo.observaciones">
    </textarea>

    <p-divider align="left" type="solid"></p-divider>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card m-1 p-2 shadow-sm">
                <h5>Laboratorio / Marca</h5>

                <input type="text" id="searchInput" class="form-control" placeholder="Buscar..."
                    [(ngModel)]="searchValue_laboratorio" (keyup)="filtroLaboratorio()"
                    [ngStyle]="{'background-color':searchValue_laboratorio == '' ? '' : 'rgb(202, 253, 202)'}">

                <div class="listbox-container" id="listbox" style="max-height: 20vh;">
                    @for (lab of laboratoriosFiltrados; track $index) {
                    <div class="listbox-item" [ngClass]="articulo.id_laboratorio == lab.id ? 'selected' : ''"
                        (click)="articulo.id_laboratorio = lab.id">{{lab.descripcion}}</div>
                    }
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card m-1 p-2 shadow-sm">
                <h5>Unidad de Medida</h5>

                <input type="text" id="searchInput" class="form-control" placeholder="Buscar..."
                    [(ngModel)]="searchValue_unidadMedida" (keyup)="filtroUnidadMedida()"
                    [ngStyle]="{'background-color':searchValue_unidadMedida == '' ? '' : 'rgb(202, 253, 202)'}">

                <div class="listbox-container" id="listbox" style="max-height: 20vh;">
                    @for (um of unidadMedidasFiltrados; track $index) {
                    <div class="listbox-item" [ngClass]="articulo.id_unidadMedida == um.id ? 'selected' : ''"
                        (click)="articulo.id_unidadMedida = um.id">{{um.descripcion}}</div>
                    }
                </div>
            </div>
        </div>
    </div>

    @if(articulo.id_unidadMedida){
    <p-divider align="left" type="solid"></p-divider>
    <h6>Aproximadamente, una unidad de <strong>"{{obtenerDescripcionUnidadMedida(articulo.id_unidadMedida)}}"</strong> equivale
        a: <input type="number" class="input_unidad_fundamental" placeholder="X" [(ngModel)]="articulo.cantidadUnidadFundamental">
        <select class="input_unidad_fundamental" [(ngModel)]="articulo.unidadFundamental">
            <option value="kilos">KILOS</option>
            <option value="litros">LITROS</option>
            <option value="unidades">UNIDADES</option>
        </select>
    </h6>
    }
    <p-divider align="left" type="solid"></p-divider>

    <div class="row">
        <div class="col-12 col-sm-4">
            <div class="flex align-items-center">
                <p-checkbox [(ngModel)]="articulo.solicitaVencimiento" label="SOLICITA VENCIMIENTO" [binary]="true"/>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="flex align-items-center">
                <p-checkbox [(ngModel)]="articulo.solicitaLote" label="SOLICITA N° SERIE / LOTE" [binary]="true" />
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="flex align-items-center">
                <p-checkbox [(ngModel)]="articulo.activo" label="ACTIVO" [binary]="true" />
            </div>
        </div>
    </div>

    <p-divider align="left" type="solid"></p-divider>

    <div class="row">
        <div class="col text-end">
            <button type="button" class="btn btn-warning m-2" (click)="visible_articulo = false">CERRAR</button>
            @if (articulo.id) {
            <button type="button" class="btn btn-danger m-2" (click)="eliminarArticulo(articulo.id)">ELIMINAR</button>
            }
            <button type="button" class="btn btn-success m-2" (click)="guardarArticulo(articulo)">{{articulo.id ?
                'EDITAR'
                : 'GUARDAR'}}</button>

        </div>
    </div>
</p-dialog>