<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">STOCK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"
                        (click)="navigate('ingresos', $event)">INGRESOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"
                        (click)="navigate('egresos', $event)">EGRESOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"
                        (click)="navigate('productos', $event)">PRODUCTOS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        STOCK
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/" (click)="navigate('stock', $event)">STOCK GENERAL</a></li>
                        <li><a class="dropdown-item" href="/" (click)="navigate('stockPorClientes', $event)">STOCK POR
                                CLIENTES</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"
                        (click)="navigate('clientes', $event)">CLIENTES</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{user.descripcion}}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/" (click)="navigate('variables', $event)">Variables</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#" (click)="cerrarSesion()">Cerrar sesión</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

<router-outlet />